body {
    font-family: sans-serif;
    text-align: center;
    background-color: #EFEFEF;
}

#messages {
    margin: 0;
    padding-top: 30px;
    color: white;
    font-weight: 400;
}


#table {
    margin: auto;
    height: 400px;
    width: 700px;
    background-color: green;
    border-radius: 30px;
}

#player-hand {
    width: 600px;
    height: 100px;
    background-color: white;
    margin: auto;
}

#dealer-hand {
    width: 600px;
    height: 100px;
    background-color: white;
    margin: auto;
}

.pop-up {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
img {
    border-radius: 15px;
}

.height50 {
    height: 50%;
}

button {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}